<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление поставщика</title>
    <link rel="stylesheet" href="/static/style/styles.css" th:href="@{/style/styles.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<big>
<form action="addProviders" method="post">
    <br>УНП <br><input type = "number" name = "trn" required>
    <br>Название поставщика<br> <input type = "text" name = "title" required>
    <br>Банковские реквизиты <br><input type = "text" name = "bankDetails" required>
    <br> Номер счета<br> <input type = "number" name = "accountNumber" required>
    <br>
    <br>
    <br>
    <button type="submit" required class="btn btn-primary"><big>Добавить поставщика</big></button>
</form>
</big>
</body>
</html>