<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="addProducts">Добавить новый товар</a>
<table border="1">
    <tr>
    <th>Артикул</th>
    <th>Название</th>
    <th>Производитель</th>
    <th>Стоимость</th>
    </tr>
    <tr>
        <tr th:each = " products : ${productsAll}">
        <td th:text = ${products.vendorCode}></td>
        <td th:text = ${products.title}></td>
        <td th:text = ${products.manufacturer}></td>
        <td th:text = ${products.price}></td>
    <td >
        <a class="text-danger" th:href="@{delete(vendorCode=${products.vendorCode})}"> Удалить</a>
    </td>
    </tr>
</table>
</body>
</html>