<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="products">Товары</a>
<table border="1">
    <tr>
    <th>УНП</th>
    <th>Название организации</th>
    <th>Банковские реквезиты</th>
    <th>Номер счета</th>
    </tr>
    <tr th:each = "providers : ${providersAll}">
        <td th:text = ${providers.trn}></td>
        <td th:text = ${providers.titleProvider}></td>
        <td th:text = ${providers.bankDetails}></td>
        <td th:text = ${providers.accountNumber}></td>
    </tr>
</table>
</body>
</html>