<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Поставщики</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
    body{background-color: #dcdcdc;}
</style>
<body>
<div class="container">
    <div class="col align-self-center">
        <div class="col">
            <a href="addProviders" class="btn btn-primary">Добавить нового поставщика</a>
            <a href="productsAll" class="btn btn-light">Товары</a>
        </div>
    </div>
    <br>
    <div class="col align-self-center">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>УНП</th>
                <th>Название организации</th>
                <th>Банковские реквизиты</th>
                <th>Номер счета</th>
                <th>Редактирование</th>
                <th>Удаление</th>
            </tr>
            </thead>
            <tr th:each="providers : ${providersAll}">
                <td>
                    <a th:href="@{getProducts(trn=${providers.trn})}" th:text=${providers.trn}></a>
                </td>
                <td th:text=${providers.title}></td>
                <td th:text=${providers.bankDetails}></td>
                <td th:text=${providers.accountNumber}></td>
                <td>
                    <a th:href="@{update-providers(trn=${providers.trn})}">Редактировать</a>
                </td>
                <td>
                    <a class="text-danger" th:href="@{deleteProviders(trn=${providers.trn})}"> Удалить</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>